<div class="container">
<div class="texts">
    <h2>Sobre Nós</h2>
    <p>A Pawsy é um pet shop feito com amor para quem ama pets. Cuidamos com carinho, oferecendo produtos e serviços de qualidade, sempre pensando no bem-estar e na felicidade dos animais. </p>
    <p>Nossa missão é promover o bem-estar dos pets com amor e responsabilidade. Temos como visão ser referência em cuidado e atendimento animal. Nossos valores são o carinho, a confiança, a excelência e a inovação, que guiam cada atendimento e serviço prestado.</p>
</div>
<img src="./assets/sobreimg.png" >
</div>